#challenge4 {
    background-image: url("../images/house.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

#challenge4 button {
    padding: .4rem;
    border-radius: .3rem;
    background-color: var(--primary);
    cursor: pointer;
    width: 100%;
    position: absolute;
    bottom: -12.5%;
    right: 50%;
    transform: translateX(50%);
}