footer {
    background: var(--secondary);
    padding: 1rem 6rem;
    max-height: 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

footer .logo {
    width: 6rem;
}